/*
Filename- contactStyle.css
StudentName - Piyush
StudentId - 301169193
Date - October 30,2021
*/

body{
    content: "";
    background:#77a73e;
    margin-left: 60px;
    top: 0;
    height: 120vh;
    width:1250px;
    z-index: -1;
}
.container{
    max-width:1250px;
    margin:0 auto;
}
nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 40px;
    color: #fff;
}
.userPic{
    height: 100%;
    width: 120px;
}
.userDetails{
    background-color: #00A7DB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
    flex-grow: 2;
}
.userDetails h1{
    margin: 0;
    font-size: 28px;
}
.userDetails span{
    font-size: large;
    margin: 0;
    display: inline-block;
}
.home{
    background-color: #00C1EA;
}
.about{
    background-color: #94D401;
}
.project{
    background-color: #61B100;
}
.services{
    background-color: chocolate;
}
.contact{
    background-color: coral;
}
.loginIcon{
    background-color:cadetblue;
}
.contactList{
    background-color:darksalmon;
}
.home,
.about,
.project,
.services,
.contact,
.contactList,
.loginIcon{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: larger;
    font-family: 'Ephesis', cursive;
}
.home ion-icon,
.about ion-icon,
.project ion-icon,
.services ion-icon,
.contact ion-icon,
.contactList ion-icon,
.loginIcon ion-icon{
    font-size: 40px;
}
a{
	text-decoration:none;
}
.contactMe ion-icon{
    font-size: 40px;
}
.contactMe{
    color: yellow;
    display: block;
    font-size: 30px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 10px;
	border: 4px solid #333333;
	box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
    width: 300px;
    height: 80px;
}
legend{
    font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 1.25em;
	margin-left: 10px;
	font-weight: bold;
	
}
fieldset{
	margin-bottom: 10px;
	border-radius: 10px;
	border: 4px solid #333333;
	box-shadow: 5px 5px 5px 5px whitesmoke;
	background-color: rgba(0,0,0,0.75);
	font-size: 1.15em;
	color: silver;
    height:520px;
}
.legText{
	width: 400px;
	height: auto;
}
.personalInfo{
    width: 100%;
    padding-bottom: 40px;
	margin: 5px 0px 5px 10px;
}
input {
    background-color: #333333;
    color: white;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    font-size: 1em;
    border-radius: 5px;
}
textarea{
    background-color: #333333;
    color: white;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    font-size: 1em;
    border-radius: 5px;
    height: 60px;
    width: 600px;
}
.btnSubmit{
    width: 150px;;
}
.btnSubmit,
.btnReset{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 120%;
    background-color: rgb(22,22,22);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
}
.btnSubmit:hover,
.btnReset:hover{
	transform: scale(1.50);
	transition: 0.2s transform;
}
.callIcon{
    text-align: right;
    padding-left: 25px;
    padding-bottom: 35px;
    font-size: 70px;
}
.callData{
    text-align: left;
    padding-bottom:30px;
    font-size: 40px;
}
.contactInfo{
    margin-left: 430px;
}