<link rel="stylesheet" href ="/content/aboutStyle.css">
</head>
<div class="container">
   
          <br><br>
    <article>
        <h1><center><u>Know Me Well ! </u></center></h1>
        <h2><i>
        Welcome everyone!
        I am Piyush from India. I am 19 years old and currently enrolled in Software Engineering Technician 
        Program at Centennial College. <br><br>
        Skills - C#, HTML, CSS, SQL, JAVA<br><br>
        Management and technology are two abilities I've been honing over the years and hope to combine in the future.
        </i>
        <center>
         
        </center>
        </h2>
        
    </article>
</div>