<link rel="stylesheet" href ="/content/homeStyle.css">
</head>
<body>
<div class="container">
   <br><br>
    <article>
        <h1><center><u>Welcome to my website! </u></center></h1>
        <h2><i>
        "My goal is to combine my technical and managerial abilities to become 
        an expert in project management and software development. "<br><br>
        <blockquote>~ Piyush</blockquote>
        </i></h2>
        
    </article>
</div>