<link rel="stylesheet" href ="/content/projectStyle.css">
</head>
<div class="container">
    <br><br>
    <article>
        <table>
            <tr>
                <td class="servicesIcon"><ion-icon name="folder-open"></ion-icon></td>
                <td class="servicesData">Projects</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <h2 id= "project1" class="fst-italic" class="fw-bold">  Advanced employee management system</h2>
                    <p id= "project1">
                        Usually, large companies and organizations have a vast army of human resources
                        working under them. In such scenarios where there’s a significant number of human 
                        employees to manage, it becomes challenging to supervise and manage the activities 
                        of the human resources efficiently. Such companies/organizations need an advanced 
                        employee management system that can handle everything related to the company’s human
                        resources. This project aims to build an employee management system that consolidates
                        all the relevant information on a company’s human resources.
                    </p>
                </td>
                <td>
                    <img class = "project1" src="/assets/images/employees.jpg">
                </td>
            </tr>
             <tr>
                <td>
                    <img class = "project2" src="/assets/images/photosStock.jpg">
                </td>
                <td>
                    <h2 id= "project2" class="fst-italic" class="fw-bold">Stock of Photos and Templates</h2>
                    <p id= "project2">
                        One of the best ideas to start experimenting you hands-on web designing projects for 
                        students is working on stock of photos and templates. In today’s corporate world,
                        presentations and graphics lead the way be it sales pitch or a follow up meeting. 
                        Often getting stock photos without flouting copyrights issues becomes a problem.
                        Web portals like shutterstock often have certain limitations on usage, quality and
                        even watermark.
                        One of the most widely appreciated web designing project ideas would be around developing 
                        an accessible and well stocked portal of graphics including images and templates which may
                        have free or paid access. The key here would be availability and avoiding the hassle of
                        dreadful hours of surfing the net to find one relevant picture. 
                    </p>
                </td>
            </tr>
            </table>      
    </article>
</div>