<link rel="stylesheet" href ="/content/servicesStyle.css">
</head>
<div class="container">
   <br><br>
    <article>
        <table>
            <tr>
                <td class="servicesIcon"><ion-icon name="laptop"></ion-icon></td>
                <td class="servicesData">Services</td>
            </tr>
            </table>
            <table>
            <tr>
                <td>
                    <img class="softwarePic" src="/assets/images/softwares.jpg" alt="software engineering">
                </td>
                <td class="servicesList">
                    <ul style="list-style-image:url(/assets/images/bullet-pyramid-pink-2018.gif)">
                        <li>Project Management</li>
                        <li>Web Development</li>
                        <li>Database Management</li>
                        <li>GUI Based Applications</li>
                        <li>Java Programming</li>
                    </ul>
                </td>
            </tr>
        </table>
        
    </article>
</div>